{% extends "base.html" %}

{% block title %}
    <title>Homepage</title>
{% endblock %}


{% block content %}

    {% if messages %}
        {% for message in messages %}

        <div class="alert alert-success" role="alert">
            <strong>{{ message }}</strong>
        </div>

        {% endfor %}
    {% endif %}
    <h1>This homepage</h1>
    <p>Welcome, {{ username }}</p>

    {% for client in all_client %}

        <p>{{ client.username }}</p>

    {% endfor %}


{% endblock %}